@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  /* font-family: 'Baloo Bhai', cursive; */
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
  background: url("../image/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
  display: inline-block;
  /* border: 2px solid red; */
  position: absolute;
  left: 60px;
  top: 20px;
}

.left img {
  width: 136px;
  filter: invert(100%);
}

.left div {
  line-height: 19px;
  font-size: 26px;
  text-align: center;
}

.mid {
  display: block;
  width: 36%;
  margin: 29px auto;
  /* border: 2px solid green; */
}
.round {
  width: 100%;
  border-radius: 15px;
  border: 1px #000 solid;
  padding: 5px 5px 5px 25px;
  position: absolute;
  top: 100px;
  right: 150px;
}
.right {
  position: absolute;
  right: 34px;
  top: 12px;
  display: inline-block;

  /* border: 2px solid yellow; */
}

.navbar {
  display: inline-block;
}

.navbar li {
  display: inline-block;
  font-size: 25px;
}

.navbar li a {
  color: black;
  text-decoration: none;
  padding: 34px 23px;
}

.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: grey;
}

.button {
  /* font-family: "Baloo Bhai", cursive; */
  font-family: "Roboto", sans-serif;
  margin: 0px 9px;
  /* background-color: black; */
  background-color: rgb(41, 0, 123);
  color: white;
  padding: 4px 14px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.vertical-center {
  position: absolute;
  top: 75%;
  right: 47%;
  transform: translateY(-50%);
  /* font-family: "Baloo Bhai", cursive; */
  font-family: "Roboto", sans-serif;
  margin: 0px 9px;
  background-color: black;
  color: white;
  padding: 4px 14px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.bottom-center {
  /* position: absolute;
  top: 120%;
  right: 47%;
  transform: translateY(-50%);
  /* font-family: "Baloo Bhai", cursive; */
  /* font-family: 'Roboto', sans-serif;
  margin: 0px 9px;
  background-color: black;
  color: white;
  padding: 4px 14px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer; */

  font-family: "Roboto", sans-serif;
  background-color: #240808;
  color: white;
  padding: 4px 14px;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(31, 30, 30);
}

.container {
  border: 2px solid black;
  margin: 106px 80px;
  padding: 75px;
  width: 75%;
  border-radius: 28px;
}

.form-group input {
  /* font-family: "Baloo Bhai", cursive; */
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: block;
  width: 508px;
  padding: 1px;
  border: 2px solid black;
  margin: 11px auto;
  font-size: 25px;
  border-radius: 8px;
}

.container h1 {
  text-align: center;
  color: purple;
}

.main_div {
  width: 90%;
  align-self: center;
  background: #fff;
  text-align: center;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.main_div .title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: black;
}
.main_div .social_icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.social_icons a {
  display: block;
  height: 45px;
  width: 100%;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s linear;
}
.social_icons a span {
  margin-left: 5px;
  font-size: 18px;
}
.social_icons a:first-child {
  margin-right: 5px;
  background: #4267b2;
}
.social_icons a:first-child:hover {
  background: #375695;
}
.social_icons a:last-child {
  margin-left: 5px;
  background: #1da1f2;
}
.social_icons a:last-child:hover {
  background: #0d8bd9;
}
form {
  margin-top: 25px;
}
form .input_box {
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.input_box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 45px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.input_box input:focus {
  border-color: #be2edd;
}
.input_box .icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: grey;
}
form .option_div {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.option_div .check_box {
  display: flex;
  align-items: center;
}
.option_div span {
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}
.option_div .forget_div a {
  font-size: 16px;
  color: #be2edd;
}
.button input {
  padding-left: 0;
  background: #be2edd;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
}
.button input:hover {
  background: #a720c5;
}
form .sign_up {
  text-align: center;
  margin-top: 25px;
  color: black;
}
.sign_up a {
  color: #be2edd;
}
form a {
  text-decoration: none;
}
form a:hover {
  text-decoration: underline;
}

.myalert-success {
  display: inline;
  color: green;
  background-color: white;
}
.myalert-danger {
  display: inline;
  color: red;
  background-color: white;
}

.main-title {
  background-color: wheat;
}
